div.header {
  border-bottom: 1px solid #666;
  margin-bottom: 50px;
  margin-top: 0px;
}

body {
  background-color: rgba(210, 210, 210, 0.9);
}

table {
  border: 1px solid black;
  width: 100%;
}

div.layout {
  width: 700px;
  font-family: 'Monda', sans-serif;
  background-color: rgba(250, 250, 250, 0.7);
  margin: 10px auto;
  padding: 10px; 
  border-radius: 5px;
}

div.header h1 {
  margin: none;
  font-size: 50pt;
}

